<!DOCTYPE html>
<html>
  <head>
    <title><%= current_account.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind" %>
    <%= stylesheet_link_tag 'application', data: {turbolinks_track: true} %>    
    <%= javascript_importmap_tags %>
    <%= yield :head %>
    <script defer data-domain="phb.dev" src="https://plausible.io/js/plausible.js"></script>
  </head>

  <body>
    <div class="antialiased">
      <div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0">
        <header class="flex justify-between items-center py-10">
          <div>
            <a aria-label="<%= current_account.name %>" href="/">
              <h1 class="text-3xl font-extrabold text-gray-900 tracking-tight sm:text-4xl md:text-[4rem] md:leading-[3.5rem]"><%= current_account.name %></h1>            
            </a>
          </div>
          <div class="text-base leading-5">
            <a href="https://github.com/peterberkenbosch/phb.dev" class="font-medium text-gray-500 hover:text-gray-700">View this on Github →</a>
          </div>
        </header>
      </div>

      <div class="max-w-3xl mx-auto px-4 sm:px-6 xl:max-w-5xl xl:px-0">
        <main>
          <%= yield %>
        </main>
      </div>
    </div>
  </body>
</html>
